<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag :defaults, "jquery", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<%= yield %>

		<% if ENV["RAILS_ENV"] == "development" %>
			<%= debug(params) %>
			<%= debug(session) %>
		<% end %>

</body>
</html>
